.blog h1 {
    font-size: 25px;
    color: #5E757A;
    font-family: 'Prata', serif;
    font-weight: normal;
    letter-spacing: 2px;
    text-align: center;
    align-self: center;
}

.blog .container {
    margin-top: 10px;
    grid-gap: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-auto-rows: 300px;
    grid-auto-flow: dense;
    justify-content: center;
}

.card {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 1;
}

.card img {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .overlay {
    position: relative;
    padding: 20px;
    margin: 20px;
    background: rgba(255,255,255, 0.5);
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    display: grid;
    justify-items: center;
    align-items: center;
}

.overlay__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay p {
    margin: 10px;
    text-align: center;
}

.button {
    background: none;
    color:#5E757A;
    padding: 10px;
    background: white;
    font-size: 10px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 5px;
}

.button:hover{
    background: none;
    color:#FFFFFF;
    padding: 10px;
    background: #5E757A;
    font-size: 10px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 5px;
}

.card.v2 {
    grid-row: span 2;
}

.card.w2 {
    grid-column: span 2;
}

.card.w3 {
    grid-column: span 3;
}

.card h2 {
    color: #5E757A;
}

.card h3 {
    color: #5E757A;
    font-size: 12px;    
}

@media (min-width: 767px) and (max-width: 1024px) {
    .blog .container {
        margin: 10px;
        grid-gap: 10px;
        display: grid;
        grid-template-columns: repeat(auto-fill, 300px);
        grid-auto-rows: 300px;
        grid-auto-flow: dense;
        justify-content: center;
    }

    .card, .card.v2, .card.w2, .card.w3 {
        display: grid;
        grid-template-columns: 1;
    }
}

@media (max-width: 768px) {
    .blog .container {
        display: flex;
        margin: 15px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .card, .card.v2, .card.w2, .card.w3 {
        display: grid;
        grid-template-columns: 1;
    }
}