html {
    background: white;
}

body, ul {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../img/background.png");
    background-repeat: repeat-x;
    background-color: #FDFDFE;
    font-size: 12px;
    font-family: 'Cutive Mono', monospace;
  }

figcaption {
    font-size: 10px;
}