html {
    background: white;
}

body, ul {
    margin: 0;
    padding: 0;
}

body {
    background-color: #768C93;
    font-size: 12px;
    font-family: 'Cutive Mono', monospace;
  }

figcaption {
    color: #FFFFFF;
    font-size: 10px;
}